doctype 5
html(lang="en")
	head
		title= title
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		link(rel='stylesheet', href="/stylesheets/bootstrap.min.css")
		link(rel='stylesheet', href="/stylesheets/font-awesome.min.css")
		script(src="http://code.jquery.com/jquery.js")
		script(src="/javascripts/bootstrap.min.js")
		block extra_head
	body
		div(class="navbar navbar-inverse")
			div(class="navbar-inner")
				a(class="brand", href="/") 
					strong Andrew's Blog
				a(class="btn btn-primary span1", href="https://www.facebook.com/n0rder")
					i(class="icon-facebook icon-large")
				a(class="btn btn-info span1", href="https://twitter.com/n4turalorder")
					i(class="icon-twitter icon-large")
				a(class="btn btn-info span1", href="http://www.linkedin.com/in/andrewsking/")
					i(class="icon-linkedin-sign icon-large")
				a(class="btn span1", href="https://github.com/an0nym0use")
					i(class="icon-github icon-large")
				if user
					a(class="btn pull-right span1", href="/dashboard") Dashboard
					a(class="btn btn-danger pull-right span1", href="/logout") Logout
				else
					a(class="btn btn-inverse pull-right", href="/login") Are you me? Login! 
		div(class="container")
			div(class="row")
				div(class="span3")
					h2 About me
					br
					img(src="/images/snapshot.jpg", class="img-rounded", height="140", width="180")
					h4 I blog about whatever I'm working on, life, code, travel.
					h5 If you are looking for my resume, find it <a href="http://resume.andrewsking.com">here</a>.
				div(class="span8 offset1")
					block content
		div
			| <script type="text/javascript">
			| 	var _gaq = _gaq || [];
			| _gaq.push(['_setAccount', 'UA-38694999-1']);
			| _gaq.push(['_trackPageview']);
			| (function() {
			|	var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			| 	ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			| 	var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			| })();
			| </script>
